@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

body {
    margin: 0;
    padding: 0;
}

.containerAll {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.containerLateralContent {
    width: 96%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.containerInferior {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 9;
}

/* Table section */
.containerTitleTable {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-top: -30px;
    padding: 0;
}

.containerInferior p {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-left: 30px;
    color: rgb(80, 80, 80);
}

.containerInferior p:nth-child(2) {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-left: 30px;
    margin-top: -40px;
}

.containerInferior table {
    width: 99%;
    margin-left: 10px;
    margin-top: 10px;
}

.containerInferior th {
    font-weight: 400;
}

.containerInferior tr {
    font-family: 'Oswald', sans-serif;
}
.containerInferior tr:hover{
    background-color: rgba(136, 180, 241, 0.37);
    transition: 0.3s;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #43c5e636;
}

td {
    height: 40px;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
}
td:nth-child(1){
    background-color: rgb(77, 185, 34);
    border-radius: 5px;
    color: #fff;
}
td:nth-child(3){
    width: 200px;
}
td:nth-child(6){
    width: 200px;
}

td:hover {
    font-size: 16px;
}

/* Buttons rows */
td ~ a {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

td ~ a img {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addAssistencia{
    margin-left: 30px;
    width: 160px;
    height: 40px;
    background-color: rgb(42, 100, 175);
    border: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    list-style: none;
}